# Which LLM Provider to use? ['ollama', 'openai']
LLM_PROVIDER=ollama

# ======= OPTION A: OLLAMA =======
OLLAMA_BASE_URL=http://localhost:11434
MODEL_NAME=llama3.1

# ======= OPTION B: OPENAI =======
# If using OpenAI, comment out OLLAMA details above and use these:
# LLM_PROVIDER=openai
# MODEL_NAME=gpt-4o-mini
OPENAI_API_KEY=

# ======= DATABASE =======
DB_PATH=./data/notes.db
